body {
    font-family: arial;
}

header {
    text-align: center;
    background-color: rgb(220, 220, 220);
    padding: 20px;
}

.left {
    flex-flow: column wrap;
    float: left;
    width: 50%;
    height: 410px; 
    background-color: rgb(255,  127,  80);
    flex-direction: column;
    display: flex;
}

.left1 {
    float: left;
    background-color: rgb(255,  127,  80);
    width: 50%;
    height: 100px;
    color: white
}

.right {
    float: left;
    background-color: rgb(255,  127,  80);
    width: 50%;
    height: 410px; 
}

.right1 {
    float: left;
    background-color: rgb(255,  127,  80);
    width: 50%;
    height: 100px;
    color: white
}

.section1 {
    display: flex;
}

.section2 {
    text-align: center;
    background-color: rgb(220, 220, 220);
}

.section3 {
    text-align: center;
    background-color: rgb(220, 220, 220);
}

table, td {
    border: 1px solid rgb(255,  127,  80);
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}

footer {
    color: white;
    height: 100px;
}

